{% extends 'base.html.twig' %}

{% block title %}- Contact
{% endblock %}

{% block body %}
	<h1>Contact</h1>
	{{ form_start(form) }}
	<div class="row">
		<div class="col-lg-12 col-md-6 col-xs-12">
        {# Le form de bootstrap 'form_widget' pour setter une table de l'entité ; on y met des attributs de form "attr": #}
			<label for="firstname">Nom</label>
			{{ form_widget(form.firstname, { 
                "attr": {"class": "form-control my-2"}
            }) }}
		</div>
        <div class="col-lg-12 col-md-6 col-xs-12">
			<label for="lasttname">Prénom</label>
			{{ form_widget(form.lastname, { 
                "attr": {"class": "form-control my-2"}
            }) }}
		</div>
        <div class="col-lg-12 col-md-6 col-xs-12">
			<label for="email">Email</label>
			{{ form_widget(form.email, { 
                "attr": {"class": "form-control my-2"}
            }) }}
		</div>
        <div class="col-lg-12 col-md-6 col-xs-12">
			<label for="subject">Subject</label>
			{{ form_widget(form.subject, { 
                "attr": {"class": "form-control my-2"}
            }) }}
		</div>
        <div class="col-lg-12 col-md-6 col-xs-12">
			<label for="subject">Message</label>
			{{ form_widget(form.message, { 
                "attr": {"class": "form-control my-2"}
            }) }}
		</div>
	</div>

	<div class="text-center my-3">
		<button class="btn btn-primary">Envoyer</button>
	</div>

	{{ form_end(form) }}
{% endblock %}
